.inputLayout {
  border: 1px solid #333;
  font-size: 18px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 38px;
  font-weight: 600;
  color: #333;
  border-radius: 6px;
  padding-left: 12px;
}