.buttonLayout {
  border: 1px solid #333;
  font-size: 18px;
  line-height: 40px;
  margin: 0;
  padding: 0;
  width: 60px;
  height: 40px;
  font-weight: 600;
  color: #333;
  margin-left: 8px;
  border-radius: 6px;
  background-color: #ccf;
}