.gridStyle {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
  width: 100%;
  max-width: 350px;
  aspect-ratio: 1/1;
  margin: 0 auto;
  background-color: #333;
  padding: 8px;
  border-radius: 8px;
}

.cellStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.2s;
  height: 100%;

  &.default {
    background-color: #fff;
    cursor: pointer;
  }

  &.disabled {
    background-color: #ddd;
  }

  &.selected {
    background-color: #5a5;
    cursor: pointer;
  }
}