.placing_screen {
  display: flex;
  flex-direction: column;
  align-items: center;

  .score_area {
    display: flex;

    .number_area {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .desc_area {
    margin-left: 20px;
  }
}

.card {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background: #eee;
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  line-height: 100px;
  font-size: 32px;
  font-weight: 600;
}